MLFLOW_TRACKING_USERNAME=<USER_NAME>
MLFLOW_TRACKING_PASSWORD=<PASSWORD>
MLFLOW_TRACKING_URI=<TRACKING_URI>
POSTGRE_SQL=<POSTGRES_CONNECTION_STRING>
POSTGRE_SQL_ONLINE_DB=<ONLINE_DB_NAME>
POSTGRE_SQL_OFFLINE_DB=<OFFLINE_DB_NAME>
POSTGRE_SQL_HOST=<POSTGRES_HOST>
POSTGRE_SQL_PORT=<POSTGRES_PORT>
POSTGRE_SQL_USER=<POSTGRES_USER>
POSTGRE_SQL_PASSWORD=<POSTGRES_PASSWORD>